<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArmaServerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ArmaServerManager.Properties.Settings>
            <setting name="ServerExePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerCfgPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Mods" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerMods" serializeAs="String">
                <value />
            </setting>
            <setting name="NoSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FilePatching" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NoLogs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoInit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NetLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>2302</value>
            </setting>
            <setting name="Malloc" serializeAs="String">
                <value />
            </setting>
            <setting name="Memory" serializeAs="String">
                <value />
            </setting>
            <setting name="Parameter" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraParameter" serializeAs="String">
                <value />
            </setting>
            <setting name="ProfilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="BasicCfg" serializeAs="String">
                <value />
            </setting>
            <setting name="MissionToMemory" serializeAs="String">
                <value>False</value>
            </setting>
        </ArmaServerManager.Properties.Settings>
    </userSettings>
</configuration>